* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white; 
    box-shadow: 5px 5px 10px white;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.header-top > img {
    height: 100px;
    width: 100px;
    margin-right: 40px;
}

body {
    background-color: rgb(24, 24, 24);
    color: white;
} 

.display-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
}

.team-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.team-title {
    font-size: 28px;
}

.display-card {
    display:flex;
    flex-direction: column;
    background-color: black;
    margin: 10px;
}

.card-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.headshot {
    height: 50px;
    width: 68px;
}

.player-name {
    width: 150px;
}

.player-team {
    text-align: center;
    width: 50px;
}

.player-stats {
    text-align: center;
    width: 125px;
}